# matlab autosave
*.asv

# drawio cache
.$*.bkp

# stl export folder
cad/stl

# solidworks cache/temp files
*~$*.SLDPRT
*~$*.SLDASM

# kicad metadata files
cad/pcb/fp-info-cache

# kicad backups
cad/pcb/**/*.zip